<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Exemplos Spring MVC</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <h1 th:text="${titulo}">View Ex2</h1>
        <h2 th:text="${dataHora}">01/04/2019 21:00</h2>
        <div>
            <ul th:each="item : ${lista}">
                <li th:text="${item}">Item 0</li>
            </ul>
        </div>
        <small>Notar que os valores gerados no Controller sobrescreveram os valores originais do arquivo HTML</small>
    </body>
</html>
