<!DOCTYPE html>
<html>
    <head>
        <title>Exemplos Spring MVC</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>View Ex3</h1>
        <h2>Nome: <span th:text="${nome}">Fulano</span></h2>
        <p>Número: <span th:text="${numero}">999</span></p>
        <p th:if="${idade != null}">Idade: <span th:text="${idade}">99</span></p>
        <p th:if="${idade == null}">Data de nascimento não informada</p>
    </body>
</html>
