<!DOCTYPE html>
<html lang="zxx">

    <!-- head importado -->
    <head th:include="fragments/head :: head"></head>
    <body>
        <!-- Page Preloder -->
        <div id="preloder">
            <div class="loader"></div>
        </div>

        <header th:include="fragments/header :: header"></header>    

        <!-- checkout section  -->
        <section class="checkout-section spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <form class="checkout-form" th:action="@{/mv/cliente/salvar}" method="post" th:object="${cliente}" novalidate>
                            <input type="hidden" th:if="*{id != null}" th:field="*{id}" />
                            <div class="cf-title">Criar uma nova conta</div>
                            <div class="row">
                                <div class="col">
                                    <p>Dados para acesso</p>
                                </div>
                                <div class="col">
                                    <div class="cf-radio-btns address-rb">
                                        <p>*Campos obrigatórios</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row address-inputs justify-content-center">
                                <div class="col-md-8">
                                    <label>E-mail*:</label> <input type="text" name="email" th:classappend="${#fields.hasErrors('email')}? is-invalid" id="txtEmail" placeholder="Email" th:field="*{email}" >
                                    <label class="invalid-feedback" th:if="${#fields.hasErrors('senha'}" th:errors="*{senha}">Senha*:</label>  <input type="text" >
                                    <label>Confirmar senha*:</label> <input type="text" >
                                </div>

                            </div>
                            <div class="row">
                                <div class="col">
                                    <p>Dados pessoais</p>
                                </div>
                                <div class="col">
                                    <div class="cf-radio-btns address-rb">
                                        <p>*Campos obrigatórios</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row address-inputs justify-content-center">
                                <div class="col-md-8 ">
                                    <label class="invalid-feedback" th:if="${#fields.hasErrors('nome'}" th:errors="*{nome}">Nome*:</label> 
                                    <input type="text" name="nome" class="form-control" th:classappend="${#fields.hasErrors('nome')}? is-invalid" id="txtNome" placeholder="Nome" th:field="*{nome}">
                                    
                                    <label class="invalid-feedback" th:if="${#fields.hasErrors('sobrenome'}" th:errors="*{sobrenome}">Sobrenome*:</label> 
                                    <input type="text" name="sobrenome" class="form-control" th:classappend="${#fields.hasErrors('sobrenome')}? is-invalid" id="txtNome" placeholder="Sobrenome" th:field="*{sobrenome}" >
                                    
                                    <label class="invalid-feedback" th:if="${#fields.hasErrors('telefone'}" th:errors="*{telefone}">Telefone*:</label> 
                                    <input type="text" name="telefone" class="form-control" th:classappend="${#fields.hasErrors('telefone')}? is-invalid" id="txtNome" placeholder="Telefone" th:field="*{telefone}">
                                    
                                    <label class="invalid-feedback" th:if="${#fields.hasErrors('cpf'}" th:errors="*{cpf}">CPF*:</label> 
                                    <input type="text" name="cpf" class="form-control" th:classappend="${#fields.hasErrors('cpf')}? is-invalid" id="txtNome" placeholder="Cpf" th:field="*{cpf}">
                                    
                                    <label for="inputEstado">Sexo:</label>
                                    <select id="inputEstado" class="form-control">
                                        <option selected >Escolher...</option>
                                        <option>Masculino</option>
                                        <option>Feminino</option>
                                    </select>
                                    <label>Data de nascimento*:</label> <input type="text" >
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <input class="form-check-input" type="checkbox" id="gridCheck">
                                    <p>Deseja receber e-mail com novidades?</p>
                                </div>

                            </div>
                        </form>

                        <div class="container"> 
                            <div class="row"> 
                                <div class="col-md-6">
                                </div>
                                <div class="col-6">
                                    <div class="col">
                                        <div class="cf-radio-btns address-rb">
                                            <div class="row">
                                                <div class="col">
                                                    <button class="site-btn submit-order-btn">Voltar</button>
                                                </div>
                                                <div class="col">
                                                    <div class="cf-radio-btns address-rb">
                                                        <button class="site-btn submit-order-btn">Cadastrar-se</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- checkout section end -->

        <!-- Rodapé importado -->
        <footer th:include="fragments/footer :: footer"></footer>

    </body>
</html>
