<!DOCTYPE html>
<html lang="zxx">

    <!-- head importado -->
    <head th:include="fragments/head :: head"></head>
    <body>
        <!-- Page Preloder -->
        <div id="preloder">
            <div class="loader"></div>
        </div>

        <header th:include="fragments/header :: header"></header>    

        <!-- checkout section  -->
        <section class="checkout-section spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <form class="checkout-form" th:action="@{/mv/cliente/salvar}" method="post" th:object="${cliente}" novalidate>
                            <input type="hidden" th:if="*{id != null}" th:field="*{id}" />
                            <div class="cf-title">Criar uma nova conta</div>
                            <div class="row">
                                <div class="col">
                                    <p>Dados para acesso</p>
                                </div>
                                <div class="col">
                                    <div class="cf-radio-btns address-rb">
                                        <p>*Campos obrigatórios</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row address-inputs justify-content-center">
                                <label for="inputPessoa">Tipo de pessoa:</label>
                                <div class="col-sm-10">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="papel" id="optPessoa" value="1" th:field="*{papel}">
                                        <label class="form-check-label" >
                                            Física
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="papel" id="optPessoa" value="0" th:field="*{papel}">
                                        <label class="form-check-label" >
                                            Juridica
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <label>E-mail*:</label> 
                                    <input type="text" name="email" th:classappend="${#fields.hasErrors('email')}? is-invalid" id="txtEmail" placeholder="Email" th:field="*{email}" >
                                    <label>Senha*:</label>  
                                    <input type="text" name="senha" th:classappend="${#fields.hasErrors('hashsenha')}? is-invalid" id="txtHashSenha" placeholder="Senha" th:field="*{hashsenha}" >
                                    <label>Confirmar senha*:</label> <input type="text" >
                                </div>

                            </div>
                            <div class="row">
                                <div class="col">
                                    <p>Dados pessoais</p>
                                </div>
                                <div class="col">
                                    <div class="cf-radio-btns address-rb">
                                        <p>*Campos obrigatórios</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row address-inputs justify-content-center">
                                <div class="col-md-8 ">
                                    <label>Nome*:</label> 
                                    <input type="text" name="nome" class="form-control" th:classappend="${#fields.hasErrors('nome')}? is-invalid" id="txtNome" placeholder="Nome" th:field="*{nome}">

                                    <label>Sobrenome*:</label> 
                                    <input type="text" name="sobrenome" class="form-control" th:classappend="${#fields.hasErrors('sobrenome')}? is-invalid" id="txtNome" placeholder="Sobrenome" th:field="*{sobrenome}" >

                                    <label>Telefone*:</label> 
                                    <input type="text" name="telefone" class="form-control" th:classappend="${#fields.hasErrors('telefone')}? is-invalid" id="txtNome" placeholder="Telefone" th:field="*{telefone}">

                                    <label>CPF*:</label> 
                                    <input type="text" name="cpf" class="form-control" th:classappend="${#fields.hasErrors('cpf')}? is-invalid" id="txtNome" placeholder="Cpf" th:field="*{cpf}">

                                    <label for="inputSexo">Sexo:</label>
                                    <div class="col-sm-10">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="sexo" id="optSexoM" value="true" th:field="*{sexo}">
                                            <label class="form-check-label" for="optSexoM">
                                                Masculino
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="sexo" id="optSexoF" value="false" th:field="*{sexo}">
                                            <label class="form-check-label" for="optSexoF">
                                                Feminino
                                            </label>
                                        </div>
                                    </div>
                                    <label>Data de nascimento*:</label> <input type="text" >
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <input class="form-check-input" type="checkbox" id="gridCheck">
                                    <p>Deseja receber e-mail com novidades?</p>
                                </div>

                            </div>
                            <div class="container"> 
                                <div class="row"> 
                                    <div class="col-md-6">
                                    </div>
                                    <div class="col-6">
                                        <div class="col">
                                            <div class="cf-radio-btns address-rb">
                                                <div class="row">
                                                    <div class="col">
                                                        <button class="site-btn submit-order-btn">Voltar</button>
                                                    </div>
                                                    <div class="col">
                                                        <div class="cf-radio-btns address-rb">
                                                            <button type="submit" class="site-btn submit-order-btn">Cadastrar-se</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- checkout section end -->

        <!-- Rodapé importado -->
        <footer th:include="fragments/footer :: footer"></footer>

    </body>
</html>
