<!DOCTYPE html>
<html lang="zxx">

    <head th:include="fragments/head :: head"></head>

    <body>

        <header th:include="fragments/header :: header"></header>

        <!-- Page Preloder -->
        <div id="preloder">
            <div class="loader"></div>
        </div>

        <!-- Page info 
        <div class="page-top-info">
            <div class="container">
                <h4>Suporte</h4>
                <div class="site-pagination">
                    <a href="">Home</a> /
                    <a href="">Contact</a>
                </div>
            </div>
        </div>
        <!-- Page info end -->


        <!-- Contact section -->
        <section class="contact-section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h3>Fale Conosco </h3>
                        <p></p>
                        <p>+546 990221 123</p>
                        <p>hosting@contact.com</p>
                        <div class="contact-social">
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-behance"></i></a>
                        </div>
                        <form class="contact-form">
                            <input type="text" placeholder="Your name">
                            <input type="text" placeholder="Your e-mail">
                            <input type="text" placeholder="Subject">
                            <textarea placeholder="Message"></textarea>
                            <button class="site-btn">SEND NOW</button>
                        </form>
                    </div>
                </div>
            </div>
           
        </section>
        
        <!-- Contact section end -->

        <footer th:include="fragments/footer :: footer"></footer>

    </body>
</html>
