<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head th:include="fragments/head :: head"></head>
    <body>
        <header th:include="fragments/header :: header"></header>   
        <div class="container">
            <div class="row">
                <div class="col-xs-3 col-sm-3 col-md-4 col-lg-3">
                    <!-- <img th:src="@{/img/product/10.jpg}" alt=""> -->
                    <div class="row">
                        <div class="float-sm-left float-lg-left float-xs-left float-md-left">
                            <div class="footer-widget about-widget">
                                <br>
                                <ul>
                                    <li><a th:href="@{/#}">Informações de Login</a></li>
                                    <li><a th:href="@{/#}">Endereços cadastrados</a></li>
                                    <li><a th:href="@{/#}">Cartoes cadastrados</a></li>
                                    <li><a th:href="@{/#}">Compras</a></li>
                                </ul>
                            </div>
                        </div> 
                    </div>
                </div>
                <div id="dadosPessoais" class="col-xs-9 col-sm-9 col-md-8 col-lg-9 box">
                    <form class="checkout-form">
                        <div>
                            <br>
                            <h4>Dados Pessoais</h4>
                            <br>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-4">
                                        <label>Nome:</label>
                                    </div>
                                    <div class="col-8">
                                        <input type="text" id="txtNome" placeholder="Nome">
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-4">
                                        <label>Sobrenome:</label>
                                    </div>
                                    <div class="col-8">
                                        <input type="text" id="txtSobrenome" placeholder="Sobrenome">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-4">
                                        <label>CPF:</label>
                                    </div>
                                    <div class="col-8">
                                        <input type="text" id="txtCpf" placeholder="CPF">
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-4">
                                        <label>Genero:</label>
                                    </div>
                                    <div class="col-8">
                                        <input type="text" id="txtGenero" placeholder="Genero">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-4">
                                        <label>Telefone:</label>
                                    </div>
                                    <div class="col-8">
                                        <input type="text" id="txtTel" placeholder="Telefone">
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-4">
                                        <label>E-mail:</label>
                                    </div>
                                    <div class="col-8">
                                        <input type="text" id="txtEmail" placeholder="Email">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <br>
                            <h4>Cartões</h4>
                            <br>
                        </div>
                        <div class="row">
                            <!-- aqui vem um foreach com os cartões. A mesma coisa com o Endereço mais pra baixo auqi no codigo -->
                            <div class="col-2">
                                <label>Cartão:</label>
                            </div>
                            <div class="col-10">
                                <input type="text" id="txtcartao" value="Cartão numero: 0000000XXXXXX, CCV: 222 - Validade: 12/2022"placeholder="Cartao">
                            </div>
                        </div>
                        <div>
                            <br>
                            <h4>Endereços</h4>
                            <br>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <label>Endereço:</label>
                            </div>
                            <div class="col-10">
                                <input type="text" id="txtcartao" value="Rua pedra mineira, numero: 8, Jardim das Pedras - São Paulo - SP"placeholder="Cartao">
                            </div>
                        </div>
                        <div>
                            <br>
                            <h4>Informações de Login</h4>
                            <br>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-4">
                                        <label>Email:</label>
                                    </div>
                                    <div class="col-8">
                                        <input type="text" id="txtEmail" value="raul.p.p@hotmail.com">
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-4">
                                        <label>Senha:</label>
                                    </div>
                                    <div class="col-8">
                                        <input type="password" id="txtPassword" value="Dominio55">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>    

            </div>

        </div>


        <footer th:include="fragments/footer :: footer"></footer>
    </body>
</html>
