<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head th:include="fragments/head :: head"></head>
    <body>
        <header th:include="fragments/header :: header"></header>   
        <div class="container">
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-5 col-lg-4">
                    <!-- <img th:src="@{/img/product/10.jpg}" alt=""> -->
                    <div class="row">
                        <div class="float-sm-left float-lg-left float-xs-left float-md-left">
                            <div class="footer-widget about-widget">
                                <br>
                                <ul>
                                    <li><a th:href="@{/#}">Informações de Login</a></li>
                                    <li><a th:href="@{/#}">Endereços cadastrados</a></li>
                                    <li><a th:href="@{/#}">Cartoes cadastrados</a></li>
                                    <li><a th:href="@{/#}">Compras</a></li>
                                </ul>
                            </div>
                        </div> 
                    </div>
                </div>
                <div >
                    <div class="row">
                        <div id="dadosPessoais" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <form class="checkout-form">
                                <div>
                                    <br>
                                    <h4>Dados Pessoais</h4>
                                </div>
                                <div>
                                    <br>
                                    <label>Nome:</label>
                                    <input type="text" id="txtNome" placeholder="Nome">
                                    <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12"
                                        <label>CPF:</label>
                                        <input type="text" id="txtNome" placeholder="Nome">
                                    </div>
                                    <div class="row col-xs-6 col-sm-6 col-md-6 col-lg-6"
                                        <label>CPF:</label>
                                        <input type="text" id="txtNome" placeholder="Nome">
                                    </div>
                                </div>
                            </form>
                        </div>    
                    </div>
                </div>

            </div>

        </div>


        <footer th:include="fragments/footer :: footer"></footer>
    </body>
</html>
