<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head th:include="fragments/head :: head"></head>
    <body>
        <header th:include="fragments/header :: header"></header>   
        <div class="container">
            <div class="row" >
                <div class="col-xs-3 col-sm-3 col-md-4 col-lg-3">
                    <!-- <img th:src="@{/img/product/10.jpg}" alt=""> -->
                    <div class="row">
                        <div class="float-sm-left float-lg-left float-xs-left float-md-left">
                            <div class="footer-widget about-widget">
                                <br>
                                <ul>
                                    <li><a href="#inf-login">Informações de Login</a></li>
                                    <li><a th:href="@{/#}">Endereços cadastrados</a></li>
                                    <li><a th:href="@{/#}">Cartoes cadastrados</a></li>
                                    <li><a th:href="@{/#}">Compras</a></li>
                                </ul>
                            </div>
                        </div> 
                    </div>
                </div>
                <div id="dadosPessoais" class="col-xs-9 col-sm-9 col-md-8 col-lg-9 box">
                    <form class="checkout-form">
                        <div>
                            <br>
                            <h4>Dados Pessoais</h4>
                            <br>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-4">
                                        <label>Nome:</label>
                                    </div>
                                    <div class="col-8">
                                        <input type="text"  th:value="${cliente.nome}" id="txtNome" placeholder="Nome" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-4">
                                        <label>Sobrenome:</label>
                                    </div>
                                    <div class="col-8">
                                        <input type="text" th:value="${cliente.sobrenome}" id="txtSobrenome" placeholder="Sobrenome" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-4">
                                        <label>CPF:</label>
                                    </div>
                                    <div class="col-8">
                                        <input type="text" th:value="${cliente.cpf}" id="txtCpf" placeholder="CPF" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-4">
                                        <label>Genero:</label>
                                    </div>
                                    <div class="col-8" th:if="${cliente.sexo == false}">
                                        <input type="text"  value="Feminino" id="txtGenero" placeholder="Genero" disabled>
                                    </div>

                                    <div class="col-8" th:if="${cliente.sexo == true}">
                                        <input type="text"  value="Masculino" id="txtGenero" placeholder="Genero" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-4">
                                        <label>Telefone:</label>
                                    </div>
                                    <div class="col-8">
                                        <input type="text"  th:value="${cliente.telefone}" id="txtTel" placeholder="Telefone" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-4">
                                        <label>E-mail:</label>
                                    </div>
                                    <div class="col-8">
                                        <input type="text" th:value="${cliente.email}" id="txtEmail" placeholder="Email" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div >
                            <br>
                            <h4>Cartões</h4>
                            <br>
                        </div>
                        <div class="row" th:if="${listCartao != null}">
                            <label>Cartão:</label>
                            <div th:each="cartao, stat: ${listCartao}">
                                <div class="col-10">
                                    <input  th:text="" th:value="${'Cartão numero' + cartao.numeroCartao + ', ' + cartao.nomeTitular + ' - ' + cartao.bandeira}" id="txtcartao" placeholder="Cartao" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="row" th:if="${listCartao == null}">
                            <div class="col-10">
                                <input  th:text="Você não possui nenhum cartão cadastrado" id="txtcartao" placeholder="Cartao" disabled>
                            </div>
                        </div>
                        <div>
                            <br>
                            <h4>Endereços</h4>
                            <br>
                        </div>
                        <div class="row" th:if="${cliente.endereco != null}">
                            <div class="row" th:each="end, stat: ${cliente.endereco}">
                                <div class="col-2">
                                    <label>Endereço:</label>
                                </div>
                                <div class="col-10">
                                    <input th:text="${end.rua + ', ' + end.numero + ' - ' + end.bairro + ' - ' + 'São Paulo - SP' }" placeholder="Cartao" disabled>
                                </div>
                            </div>
                        </div>
                        <div>
                            <br>
                            <h4 id="inf-login">Informações de Login</h4>
                            <br>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-4">
                                        <label>Login:</label>
                                    </div>
                                    <div class="col-8">
                                        <input type="text" th:value="${cliente.email}" id="txtEmail" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-4">
                                        <label>Senha:</label>
                                    </div>
                                    <div class="col-8">
                                        <input type="password" th:value="${cliente.hashsenha}" id="txtPassword" disabled >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>    

            </div>

        </div>


        <footer th:include="fragments/footer :: footer"></footer>
    </body>
</html>
