<div th:fragment="section-produto">
    <section class="hero-section">
        <div class="hero-slider owl-carousel">
            <div class="hs-item set-bg" th:data-setbg="@{/img/product/fotoProduto.jpg}">
                <div class="container" th:if="${produtos != null}">
                    <div class="row" th:each="prod, stat: ${produtos}">
                        <div class="col-xl-6 col-lg-7 text-shadow">
                            <h2 th:text=" 'R$ ' + ${prod.nome}"></h2>
                            <p th:text=" 'R$ ' + ${prod.descricao}"></p>
                            <a th:href="@{/mv/produto/{id}/additemcart(id=${prod.id})}" class="add-card"><i class="flaticon-bag"></i><span>Adicionar ao carrinho</span></a>
                            <!--pensar na possibilidade de criar uma lista de favoritos -->
                            <a th:href="@{/mv/produto/{id}/additemfavoritelist(id=${prod.id})}" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                        </div>
                    </div>
                    <div class="offer-card text-white">
                        <h2 th:text=" 'R$ ' + ${prod.valor}"></h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="slide-num-holder" id="snh-1"></div>
        </div>
    </section>
</div>