<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head th:include="fragments/head :: head"></head>
    <body>
        <header th:include="fragments/header :: header"></header>   

        <div class="container">
            <div class="row" >
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <form>
                        <div class="pbox2">
                            <br>
                            <h2>Missão</h2>
                            <ul>
                                <li>
                                    <p>
                                        A JRL motopeças tem como objetivo facilitar a vida dos motoqueiros. Como!?<br> 
                                        Disponibilizando recursos na plataforma para os leigos, comercializando peças e 
                                        acessórios de alta qualidade e proporcionando satisfação total aos amantes por duas rodas.
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <div class="pbox2">
                            <h2>Visão</h2>
                            <ul>
                                <li>
                                    <p>
                                        Tornar-se a melhor plataforma de vendas da América Latina e proporcionar aos nossos clientes satisfação, qualidade e recursos ao longo prazo.
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <div class="pbox2">
                            <h2>Valores</h2>
                            <ul>
                                <li><p>Comprometimento:<br>
                                        Ser uma equipe comprometida com os valores da empresa superando a cada dia as expectativas dos nossos clientes e disponibilizando 
                                        aprendizado e qualidade nos serviços.</p>
                                </li>
                                <li><p>Excelência no Negócio:<br>
                                        Estar sempre no mais alto nível, sendo referência de qualidade no mercado em que atuamos.</p>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>    
            </div>
        </div>


        <footer th:include="fragments/footer :: footer"></footer>
    </body>
</html>
