<!DOCTYPE html>
<html lang="zxx">

    <!-- Cabeçalho importado -->
    <head th:include="fragments/head :: head"></head>

    <body>
        <!-- Page Preloder -->
        <div id="preloder">
            <div class="loader"></div>
        </div>

        <header th:include="fragments/header :: header"></header>


        <!-- cart section end -->
        <section class="cart-section spad">

            <div class="container" th:if="${listaCarrinho != null}">
                <div class="row">
                    <div class="col">
                        <div class="alert alert-warning" role="alert" th:if="${numeropedido != null}" >
                            <h5 th:text="'Seu numero de pedido será: #' + ${numeropedido}"></h5> 
                        </div>    
                        <div class="progress margincols" style="height: 10px;">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 66%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 col-sm-6 col-md-7">
                        <div class="cart-table ">
                            <div class="checkout-cart">
                                <div class="row" th:each="end, stat: ${cliente.endereco}">
                                    <div class="col-8" th:if="${end.selecionado != 0}">
                                        <h3>Endereço de entrega <i class="fa fa-map-marker"></i></h3>
                                        <p th:text="${end.rua + ', ' + end.numero + ' - ' + end.cep}"></p>
                                        <p th:text="${end.bairro + ' São Paulo - SP'}"></p>
                                        <p th:if="end.complemento != null" th:text="${'Observações: '+ end.complemento}"></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-8"></div>
                                    <div class="col-4 align-self-end">
                                        <a th:href="@{/mv/venda/confirmacao}" class="site-btn sb-grey" data-toggle="modal" data-target="#modal-endereco">Alterar<br> endereço</a>  
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="checkout-cart">
                                <h3>Forma de pagamento <i class="fa fa-credit-card"></i></h3>
                                <div class="checkout-cart" th:if="${cliente.cartao != null}" >
                                    <div class="row" th:each="cartao, stat: ${cliente.cartao}">
                                        <div class="col-8 checkout-form" th:if="${cartao.selecionado != 0}">
                                            <h6>Nome do Titular</h6> 
                                            <input type="text" th:value="${cartao.nomeTitular}" disabled>
                                            <h6>Numero do cartão:</h6> 
                                            <input type="text" th:value="${cartao.numeroCartao}" disabled>
                                            <h6>Data de validade:</h6> 
                                            <input type="text" th:value="${cartao.dataValidade}" disabled>
                                            <h6>Código de segurança:</h6> 
                                            <input type="text" th:value="${cartao.codSeguranca}" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-8"></div>
                                    <div class="col-4 align-self-end">
                                        <a th:href="@{/mv/venda/confirmacao}" class="site-btn sb-grey" data-toggle="modal" data-target="#modal-cartao">Adicionar <br> Cartão</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-5">
                        <div class="cart-table margincols cart-table-warp" >
                            <h4>Resumo da compra <i class="fa fa-list-alt"></i></h4>
                            <table>
                                <thead>
                                    <tr>
                                        <th class="product-th">Produto</th>
                                        <th class="quy-th">Qtd</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="cart, stat: ${listaCarrinho}" >
                                        <td class="product-col td-confirmacao">
                                            <div class="pc-title">
                                                <h4 th:text="${cart.produto.nome}"></h4>
                                                <p th:text=" 'R$ ' + ${cart.produto.valor}"></p>
                                            </div>
                                        </td>
                                        <td class="quy-col td-confirmacao">
                                            <p th:text="${cart.quantidade}  "></p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="total-cost">
                                <h6>Total <span th:text="${'R$' + valorTotalCarrinho}"></span></h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4"></div>
                            <div class="col-8">
                                <a th:href="@{/mv/venda/efetuarvenda}"><button class="site-btn submit-order-btn">Concluir Compra</button></a>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
            
            <div class="container">
                <section th:include="fragments/section-produto :: section-produto"></section>
            </div>

        </section>

        <footer th:include="fragments/footer :: footer"></footer>

        <!-- Modal -->
        <div class="modal fade" id="modal-endereco" tabindex="-1" role="dialog" aria-labelledby="modal-endereco" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Alterar endereço</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <table class="table table-striped ">
                                        <thead>
                                            <tr>
                                                <th scope="col">Endereço</th>
                                                <th scope="col">Selecionar</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr  th:each="end, stat: ${cliente.endereco}">
                                                <th th:text="${end.rua + ', ' + end.numero + ' - ' + end.cep +' - ' + end.bairro + ' Sao Paulo/SP' }"></th>
                                                <td><a th:href="@{/mv/venda/{id}/alteraddress(id=${end.id})}" ><i class="fa fa-map-marker"></i><i class="fa fa-check"></i></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-9"></div>
                                <div class="col-3">
                                    <a th:href="@{/#}">Novo <i class="fa fa-map-marker"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal selecinar cartão-->
        <div class="modal fade" id="modal-cartao" tabindex="-1" role="dialog" aria-labelledby="modal-cartao" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Selecinar Cartão</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <table class="table table-striped ">
                                        <thead>
                                            <tr>
                                                <th scope="col">Cartão</th>
                                                <th scope="col">Selecionar</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr  th:each="cartao, stat: ${cliente.cartao}">
                                                <th th:text="${cartao.nomeTitular +' - ' + cartao.numeroCartao + ', ' + cartao.bandeira + ' - ' + cartao.dataValidade }"></th>
                                                <td><a th:href="@{/mv/venda/{id}/alteracard(id=${cartao.id})}" ><i class="fa fa-credit-card"></i><i class="fa fa-check"></i></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-9"></div>
                                <div class="col-3">
                                    <a th:href="@{/mv/venda/confirmacao}" data-toggle="modal" data-target="#modal-formCartao">Novo <i class="fa fa-map-marker"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal formulario cartao-->
        <div class="modal fade" id="modal-formCartao" tabindex="-1" role="dialog" aria-labelledby="modal-formCartao" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Cadastrar Cartão</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col">

                                    <form class="form-group" th:action="@{/mv/cartao/salvar}" method="post" th:object="${cartao}" novalidate>
                                        <label>Bandeira:</label>
                                        <br>
                                        <input type="radio" name="bandeira" id="optBandeira" value="visa" th:field="*{bandeira}" >
                                        <label>Visa</label>
                                        <input type="radio" name="bandeira" id="optBandeira" value="mastercard" th:field="*{bandeira}" >
                                        <label>MasterCard</label>
                                        <br>
                                        <label>Numero do cartão:</label> 
                                        <br>
                                        <input type="text" name="numeroCartao" id="txtnumeroCartao" th:classappend="${#fields.hasErrors('numeroCartao')}? is-invalid"  placeholder="8888.8888.8888.8888" th:field="*{numeroCartao}">
                                        <br>
                                        <label>Nome do Titular</label> 
                                        <br>
                                        <input type="text" name="nomeTitular" id="txtnomeTitular" th:classappend="${#fields.hasErrors('nomeTitular')}? is-invalid" placeholder="Como esta impresso no cartão" th:field="*{nomeTitular}">
                                        <br>
                                        <label>Data de validade:</label> 
                                        <br>
                                        <input type="text" name="dataValidade" id="txtdataValidade" th:classappend="${#fields.hasErrors('dataValidade')}? is-invalid" placeholder="MM/ANO" th:field="*{dataValidade}">
                                        <br>
                                        <label>Código de segurança:</label> 
                                        <br>
                                        <input type="text" name="codSeguranca" id="txtcodSeguranca" th:classappend="${#fields.hasErrors('codSeguranca')}? is-invalid" placeholder="Código no verso do cartão" th:field="*{codSeguranca}">
                                        <br>
                                        <label>Opçoes de parcela:</label>
                                        <br>
                                        <select  th:field="*{parcela}">
                                            <option th:value='1' th:text="1"></option>
                                            <option th:value='2' th:text="2"></option>
                                            <option th:value='3' th:text="3"></option>
                                            <option th:value='4' th:text="4"></option>
                                            <option th:value='5' th:text="5"></option>
                                            <option th:value='6' th:text="6"></option>
                                            <option th:value='7' th:text="7"></option>
                                            <option th:value='8' th:text="8"></option>
                                            <option th:value='9' th:text="9"></option>
                                            <option th:value='10' th:text="10"></option>
                                            <option th:value='11' th:text="11"></option>
                                            <option th:value='12' th:text="12"></option>
                                        </select>
                                        <br>
                                        <input type="submit" value="Cadastrar">
                                    </form>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </body>
</html>
