<!DOCTYPE html>
<html lang="zxx">
    
    <!-- Cabeçalho importado -->
    <head th:include="fragments/head :: head"></head>
    
    <body>
        <!-- Page Preloder -->
        <div id="preloder">
            <div class="loader"></div>
        </div>
        
        <header th:include="fragments/header :: header"></header>


        <!-- cart section end -->
        <section class="cart-section spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row no-gutters">
                            <div class="col-12 col-sm-6 col-md-8">
                                <div class="cart-table">
                                    <h3>Pagamento</h3>
                                    <div class="cart-table-warp">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th class="product-th">Itens do Pedido</th>
                                                    <th class="quy-th">Qtde</th>
                                                    <th class="total-th">Preço</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="product-col">
                                                        <img th:src="@{/img/cart/1.jpg}" alt="">
                                                        <div class="pc-title">
                                                            <h4>Animal Print Dress</h4>
                                                            <p>$45.90</p>
                                                        </div>
                                                    </td>
                                                    <td class="quy-col">
                                                        <div class="quantity">
                                                            <div class="pro-qty">
                                                                <input type="text" value="1">
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="total-col"><h4>$45.90</h4></td>
                                                </tr>
                                                <tr>
                                                    <td class="product-col">
                                                        <img th:src="@{/img/cart/2.jpg}" alt="">
                                                        <div class="pc-title">
                                                            <h4>Ruffle Pink Top</h4>
                                                            <p>$45.90</p>
                                                        </div>
                                                    </td>
                                                    <td class="quy-col">
                                                        <div class="quantity">
                                                            <div class="pro-qty">
                                                                <input type="text" value="1">
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="total-col"><h4>$45.90</h4></td>
                                                </tr>
                                                <tr>
                                                    <td class="product-col">
                                                        <img th:src="@{/img/cart/3.jpg}" alt="">
                                                        <div class="pc-title">
                                                            <h4>Skinny Jeans</h4>
                                                            <p>$45.90</p>
                                                        </div>
                                                    </td>
                                                    <td class="quy-col">
                                                        <div class="quantity">
                                                            <div class="pro-qty">
                                                                <input type="text" value="1">
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="total-col"><h4>$45.90</h4></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="total-cost">
                                        <h6>Total <span>$99.90</span></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-4">
                                <div class="cart-table">
                                    <h3>Endereço de entrega</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>

        <br>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row no-gutters">
                        <div class="col-12 col-sm-6 col-md-8">
                            <div class="cart-table">
                                <h3>Resumo da compra</h3> 
                            </div>	
                        </div>
                        <div class="col-6 col-md-4">
                            <div class="cart-table">
                                <div class="col">
                                    <div class="cf-radio-btns address-rb">
                                        <h3>Prazo de entraga</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
        
        

    <!--====== Javascripts & Jquery ======-->
    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/jquery.slicknav.min.js}"></script>
    <script th:src="@{/js/owl.carousel.min.js}"></script>
    <script th:src="@{/js/jquery.nicescroll.min.js}"></script>
    <script th:src="@{/js/jquery.zoom.min.js}"></script>
    <script th:src="@{/js/jquery-ui.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>

</body>
</html>
