<!DOCTYPE html>
<html lang="zxx">

    <!-- Cabeçalho importado -->
    <head th:include="fragments/head :: head"></head>

    <body>
        <!-- Page Preloder -->
        <div id="preloder">
            <div class="loader"></div>
        </div>

        <header th:include="fragments/header :: header"></header>


        <!-- cart section end -->
        <section class="cart-section spad">

            <div class="container" th:if="${listaCarrinho != null}">
                <div class="row">
                    <div class="col-6 col-sm-6 col-md-7">
                        <div class="cart-table ">
                            <div class="checkout-cart">
                                <h3>Endereço de entrega <i class="fa fa-map-marker"></i></h3>
                                <p> Rua pedra mineira, 8 - 04856700</p>
                                <p> Jardim das pedras / Sâo Paulo - SP</p>
                            </div><br>
                            <div class="checkout-cart">
                                <h3>Forma de pagamento <i class="fa fa-dollar"></i></h3>
                                <form class="checkout-form" th:action="@{/mv/venda/salvarcartao}" method="post" th:object="${cartao}" novalidate>
                                    <label> N° Cartão</label><input type="text" name="numerocartao">
                                    <label> Cod de segurança</label><input type="text" name="codseguranca">
                                    <label> Validade</label><input type="text" name="validade">
                                </form>

                            </div><br>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-5">
                        <div class="cart-table margincols cart-table-warp" >
                            <h4>Resumo da compra <i class="fa fa-list-alt"></i></h4>
                            <table>
                                <thead>
                                    <tr>
                                        <th class="product-th">Produto</th>
                                        <th class="quy-th">Qtd</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="cart, stat: ${listaCarrinho}" >
                                        <td class="product-col td-confirmacao">
                                            <div class="pc-title">
                                                <h4 th:text="${cart.produto.nome}"></h4>
                                                <p th:text=" 'R$ ' + ${cart.produto.valor}"></p>
                                            </div>
                                        </td>
                                        <td class="quy-col td-confirmacao">
                                            <div class="quantity">
                                                <div class="pro-qty">
                                                    <input type="text" th:value="${cart.produto.quantidade}">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="total-cost">
                                <h6>Total <span>R$58.000,00</span></h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-8">
                                <button class="site-btn submit-order-btn">Concluir Compra</button>
                            </div>
                            <div class="col-2"></div>
                        </div> 
                    </div>
                </div>
            </div>

        </section>

        <footer th:include="fragments/footer :: footer"></footer>
    </body>
</html>
