<!DOCTYPE html>
<html lang="zxx">

    <!-- head importado -->
    <head th:include="fragments/head :: head"></head>

    <body>
        <!-- Page Preloder -->
        <div id="preloder">
            <div class="loader"></div>
        </div>

        <header th:include="fragments/header :: header"></header>

        <!-- cart section end -->
        <section class="cart-section spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row no-gutters">
                            <div class="col-12 col-sm-6 col-md-8">
                                <div class="cart-table margincols">
                                    <h3>Endereço <i class="fa fa-truck"></i></h3> 
                                    <div class="container  margincols">
                                        <form class="checkout-form">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            <button class="site-btn"> Alterar Endereço</button>
                                        </form>	
                                    </div>
                                </div>	
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row no-gutters">
                            <div class="col-12 col-sm-6 col-md-8">
                                <div class="cart-table margincols">
                                    <h3>Pagamento <i class="fa fa-money"></i></h3>
                                    <div th:if="${listaCarrinho!= null}" class="cart-table-warp">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th class="product-th">Itens do Pedido</th>
                                                    <th class="quy-th">Qtde</th>
                                                    <th class="total-th">Preço</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="cart, stat: ${listaCarrinho}">
                                                    <td class="product-col">
                                                        <img th:src="@{/img/product/fotoProduto.jpg}" alt="">
                                                        <div class="pc-title">
                                                            <h4 th:text="${cart.produto.nome}">Animal Print Dress</h4>

                                                        </div>
                                                    </td>
                                                    <td class="quy-col">
                                                        <div class="quantity">
                                                            <div class="pro-qty">
                                                                <input type="text" th:value="${cart.produto.quantidade}">
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td th:text="${cart.produto.valor}" class="total-col"><h4>$45.90</h4></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="total-cost">
                                        <h6>Total <span>$99.90</span></h6>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row no-gutters">
                            <div class="col-12 col-sm-6 col-md-8">
                                <div class="cart-table margincols">
                                    <h3>Pague com cartão de crédito <i class="fa fa-credit-card"></i> <button class="site-btn"> Dividi em 2 cartões</button></h3> 
                                    <div class="container  margincols">
                                        <form class="checkout-form" >
                                            <div class="row address-inputs ">
                                                <div class="col-12">
                                                    <div class="container">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <label>Numero do cartão:</label> <input type="text">
                                                                <label>Nome do Titular (Como esta gravado no cartão):</label>  <input type="text">
                                                                <label>Data de validade:</label> <input type="text">
                                                                <label>Código de segurança:</label> <input type="text">
                                                                <label>Opçoes de parcela:</label><input type="text">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button class="site-btn"> Concluir Pedido</button>
                                        </form>	
                                    </div>
                                </div>	
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row no-gutters">
                            <div class="col-12 col-sm-6 col-md-8">
                                <div class="cart-table margincols">
                                    <h3>Pague com boleto bancário <i class="fa fa-barcode"></i></h3> 
                                    <div class="container  margincols">
                                        <form class="checkout-form">

                                            <button class="site-btn"> Gerar Boleto</button>
                                        </form>	
                                    </div>
                                </div>	
                            </div>

                            <div class="col-6 col-md-4">
                                <div class="cart-table">
                                    <h3>Total</h3> 
                                </div>	
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer th:include="fragments/footer :: footer"></footer>

    </body>
</html>
