<!DOCTYPE html>
<html lang="zxx">

    <!-- head importado -->
    <head th:include="fragments/head :: head"></head>

    <body>
        <!-- Page Preloder -->
        <div id="preloder">
            <div class="loader"></div>
        </div>

        <header th:include="fragments/header :: header"></header>

        <!-- cart section end -->
        <section class="cart-section spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row no-gutters">
                            <div class="col-12 col-sm-6 col-md-8">
                                <div class="cart-table margincols">
                                    <h3>Endereço <i class="fa fa-truck"></i></h3> 
                                    <div class="container  margincols">
                                        <form class="checkout-form">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <label th:text=${endereco.rua}+',' ></label> 
                                                        <label th:text=${endereco.numero}+','></label> 
                                                        <label th:text=${endereco.bairro}+','></label> 
                                                        <label th:text=${endereco.complemento}+','></label> 
                                                        <label th:text=${endereco.cep}></label> 

                                                    </div>
                                                </div>
                                            </div>
                                            <button class="site-btn"> Alterar Endereço</button>
                                        </form>	
                                    </div>
                                </div>	
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row no-gutters">
                            <div class="col-12 col-sm-6 col-md-8">
                                <div class="cart-table margincols">
                                    <h3>Pagamento <i class="fa fa-money"></i></h3>
                                    <div th:if="${listaCarrinho!= null}" class="cart-table-warp">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th class="product-th">Itens do Pedido</th>
                                                    <th class="quy-th">Qtde</th>
                                                    <th class="total-th">Preço</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="cart, stat: ${listaCarrinho}">
                                                    <td class="product-col">
                                                        <img th:src="@{/img/product/fotoProduto.jpg}" alt="">
                                                        <div class="pc-title">
                                                            <h4 th:text="${cart.produto.nome}">Animal Print Dress</h4>

                                                        </div>
                                                    </td>
                                                    <td class="quy-col">
                                                        <div class="quantity">
                                                            <div class="pro-qty">
                                                                <input type="text" th:value="${cart.produto.quantidade}">
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td th:text="${cart.produto.valor}" class="total-col"><h4>$45.90</h4></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="total-cost">
                                        <h6>Total <span>$99.90</span></h6>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row no-gutters">
                            <div class="col-12 col-sm-6 col-md-8">
                                <div class="cart-table margincols">
                                    <h3>Pague com cartão de crédito <i class="fa fa-credit-card"></i> <button class="site-btn"> Dividi em 2 cartões</button></h3> 
                                    <div class="container  margincols">
                                        <form class="checkout-form" th:action="@{/mv/venda/confirmacao}" method="post" th:object="${cartao}" novalidate>
                                            <!-- <input type="hidden"  th:value="${c}" field="*{cliente}" /> -->
                                            <div class="row address-inputs ">
                                                <div class="col-12">
                                                    <div class="container">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                              
                                                                <label>Bandeira:</label>
                                                                <br>
                                                                <input type="radio" name="bandeira" id="optBandeira" value="visa" th:field="*{bandeira}" >
                                                                <label>Visa</label>
                                                                <input type="radio" name="bandeira" id="optBandeira" value="mastercard" th:field="*{bandeira}" >
                                                                <label>MasterCard</label>
                                                                <br>
                                                                <label>Numero do cartão:</label> 
                                                                <input type="text" name="numeroCartao" id="txtnumeroCartao" th:classappend="${#fields.hasErrors('numeroCartao')}? is-invalid"  placeholder="8888.8888.8888.8888" th:field="*{numeroCartao}">
                                                                <label>Nome do Titular</label> 
                                                                <input type="text" name="nomeTitular" id="txtnomeTitular" th:classappend="${#fields.hasErrors('nomeTitular')}? is-invalid" placeholder="Como esta impresso no cartão" th:field="*{nomeTitular}">
                                                                <label>Data de validade:</label> 
                                                                <input type="text" name="dataValidade" id="txtdataValidade" th:classappend="${#fields.hasErrors('dataValidade')}? is-invalid" placeholder="MM/ANO" th:field="*{dataValidade}">
                                                                <label>Código de segurança:</label> 
                                                                <input type="text" name="codSeguranca" id="txtcodSeguranca" th:classappend="${#fields.hasErrors('codSeguranca')}? is-invalid" placeholder="Código no verso do cartão" th:field="*{codSeguranca}">
                                                                <label>Opçoes de parcela:</label>
                                                                <select  th:field="*{parcela}">
                                                                    <option th:value='1' th:text="1"></option>
                                                                    <option th:value='2' th:text="2"></option>
                                                                    <option th:value='3' th:text="3"></option>
                                                                    <option th:value='4' th:text="4"></option>
                                                                    <option th:value='5' th:text="5"></option>
                                                                    <option th:value='6' th:text="6"></option>
                                                                    <option th:value='7' th:text="7"></option>
                                                                    <option th:value='8' th:text="8"></option>
                                                                    <option th:value='9' th:text="9"></option>
                                                                    <option th:value='10' th:text="10"></option>
                                                                    <option th:value='11' th:text="11"></option>
                                                                    <option th:value='12' th:text="12"></option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button class="site-btn" type="submit"> Concluir Pedido</button>
                                        </form>	
                                    </div>
                                </div>	
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row no-gutters">
                            <div class="col-12 col-sm-6 col-md-8">
                                <div class="cart-table margincols">
                                    <h3>Pague com boleto bancário <i class="fa fa-barcode"></i></h3> 
                                    <div class="container  margincols">
                                        <form class="checkout-form">

                                            <button class="site-btn"> Gerar Boleto</button>
                                        </form>	
                                    </div>
                                </div>	
                            </div>

                            <div class="col-6 col-md-4">
                                <div class="cart-table">
                                    <h3>Total</h3> 
                                </div>	
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer th:include="fragments/footer :: footer"></footer>

    </body>
</html>
