<!DOCTYPE html>
<html lang="zxx">

    <!-- Cabeçalho importado -->
    <head th:include="fragments/head :: head"></head>

    <body>
        <header th:include="fragments/header :: header"></header>

        <!-- Page Preloder -->
        <div id="preloder">
            <div class="loader"></div>
        </div>

        <!-- Page info -->
        <div class="page-top-info">
            <div class="container">
                <h4>Itens</h4>
                <div class="site-pagination">
                    <a th:href="@{/#}">Home</a> /
                    <a th:href="@{/#}">Shop</a>
                </div>
            </div>
        </div>
        <!-- Page info end -->


        <!-- product section -->
        <section class="product-section">
            <div class="container">
                <div class="back-link">
                    <a th:href="@{/category.html}"> &lt;&lt; Back to Category</a>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="product-pic-zoom">
                            <img class="product-big-img" th:src="@{/img/single-product/1.jpg}" alt="">
                        </div>
                        <div class="product-thumbs" tabindex="1" style="overflow: hidden; outline: none;">
                            <div class="product-thumbs-track">
                                <div class="pt active" th:data-imgbigurl="@{/img/single-product/1.jpg}"><img th:src="@{/img/single-product/thumb-1.jpg}" alt=""></div>
                                <div class="pt" th:data-imgbigurl="@{/img/single-product/2.jpg}"><img th:src="@{/img/single-product/thumb-2.jpg}" alt=""></div>
                                <div class="pt" th:data-imgbigurl="@{/img/single-product/3.jpg}"><img th:src="@{/img/single-product/thumb-3.jpg}" alt=""></div>
                                <div class="pt" th:data-imgbigurl="@{/img/single-product/4.jpg}"><img th:src="@{/img/single-product/thumb-4.jpg}" alt=""></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 product-details">
                        <h2 class="p-title">CB1000r</h2>
                        <h3 class="p-price">R$80.000,00</h3>
                        <!-- <h4 class="p-stock">Available: <span>In Stock</span></h4> -->
                        <div class="p-rating">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o fa-fade"></i>
                        </div>
                        <!-- <div class="p-review">
                            <a th:href="@{/}">3 reviews</a>|<a th:href="@{/#}">Add your review</a>
                        </div> -->
                        <div class="quantity">
                            <p>Quantidade</p>
                            <div class="pro-qty"><input type="text" value="1"></div>
                        </div>
                        <a th:href="@{/#}" class="site-btn">SHOP NOW</a>
                        <div id="accordion" class="accordion-area">
                            <div class="panel">
                                <div class="panel-header" id="headingOne">
                                    <button class="panel-link active" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">Ficha técnica</button>
                                </div>
                                <div id="collapse1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="panel-body">
                                        <p>A CB 1000R está sempre pronta para te levar aonde você quiser. O seu motor de 4 cilindros proporciona maior torque e mais potência na hora de pilotar, o que garante melhor performance.</p>
                                        <p>O painel multicolor da CB 1000R permite visualizar as condições de pilotagem da motocicleta a partir dos modos de cores do painel, facilitando a checagem de informações pelo piloto.</p>
                                        <p>Mais segurança em qualquer aventura: o acelerador eletrônico Throttle by Wire da CB 1000R oferece maior precisão na entrega de torque e potência, proporcionando o melhor controle da motocicleta.</p>
                                        <p>Além dos 3 diferentes níveis de controle de torque, você ainda tem a opção de desligar o sistema. Potência e tecnologia para você escolher como pilotar e sentir toda a liberdade que a CB 1000R proporciona.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="panel">
                                <div class="panel-header" id="headingThree">
                                    <button class="panel-link" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">Expedilçao e Devolução</button>
                                </div>
                                <div id="collapse3" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                    <div class="panel-body">
                                        <h4>7 Days Returns</h4>
                                        <p>Cash on Delivery Available<br>Home Delivery <span>3 - 4 days</span></p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra tempor so dales. Phasellus sagittis auctor gravida. Integer bibendum sodales arcu id te mpus. Ut consectetur lacus leo, non scelerisque nulla euismod nec.</p>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                        <div class="social-sharing">
                            <a th:href="@{/#}"><i class="fa fa-facebook"></i></a>
                            <a th:href="@{/#}"><i class="fa fa-twitter"></i></a>
                            <a th:href="@{/#}"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- product section end -->

        <!-- RELATED PRODUCTS section -->
        <section class="related-product-section">
            <div class="container">
                <div class="section-title">
                    <h2>Produtos relacionados</h2>
                </div>
                <div class="product-slider owl-carousel">
                    <div class="product-item">
                        <div class="pi-pic">
                            <img th:src="@{/img/product/1.jpg}" alt="">
                            <div class="pi-links">
                                <a th:href="@{/#}" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
                                <a th:href="@{/#}" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                            </div>
                        </div>
                        <div class="pi-text">
                            <h6>$35,00</h6>
                            <p>Flamboyant Pink Top </p>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="pi-pic">
                            <div class="tag-new">New</div>
                            <img th:src="@{/img/product/2.jpg}" alt="">
                            <div class="pi-links">
                                <a th:href="@{/#}" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
                                <a th:href="@{/#}" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                            </div>
                        </div>
                        <div class="pi-text">
                            <h6>$35,00</h6>
                            <p>Black and White Stripes Dress</p>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="pi-pic">
                            <img th:src="@{/img/product/3.jpg}" alt="">
                            <div class="pi-links">
                                <a th:href="@{/#}" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
                                <a th:href="@{/#}" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                            </div>
                        </div>
                        <div class="pi-text">
                            <h6>$35,00</h6>
                            <p>Flamboyant Pink Top </p>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="pi-pic">
                            <img th:src="@{/img/product/4.jpg}" alt="">
                            <div class="pi-links">
                                <a th:href="@{/#}" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
                                <a th:href="@{/#}" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                            </div>
                        </div>
                        <div class="pi-text">
                            <h6>$35,00</h6>
                            <p>Flamboyant Pink Top </p>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="pi-pic">
                            <img th:src="@{/img/product/6.jpg}" alt="">
                            <div class="pi-links">
                                <a th:href="@{/#}" class="add-card"><i class="flaticon-bag"></i><span>Adicionar ao carrinho</span></a>
                                <a th:href="@{/#}" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                            </div>
                        </div>
                        <div class="pi-text">
                            <h6>$35,00</h6>
                            <p>Flamboyant Pink Top </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer th:include="fragments/footer :: footer"></footer>

    </body>
</html>
